.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-page {
  /* background-image: url(images/mainimage.webp); */
  background-image: url(images/mainback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainimage {
  width: 100vw;
  max-width: 420px;
  aspect-ratio: 1 / 1.5;
  position: absolute;
  z-index: 0;
}

.title {
  font-family: 'IBM Plex Sans KR', sans-serif;
  line-height: 100px;
  text-align: center;
  color: #eda040;
  /* background-color: lightgray; */
  z-index: 10;
  /* font-weight : 150px; */
}
.start-btn {
  color: white;
  font-weight: bolder;
  width: 40%;
  z-index: 10;
  margin-top: 250px;
}

.card {
  width: 15rem;
  /* height: 12rem; */
  margin: 2rem 0;
}
.card img {
  height: 10rem;
}

.lastpage {
  background-image: url(images/lastpage.webp);
  background-size: cover;
}

.position {
  width: 50px;
  height: 50px;
}

.lasttext {
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #eda040;
  font-weight: bol;
}
