@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  color: white;
  font-family: 'Jua', sans-serif;
}

.page {
  background-color: #111;
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_text h1,
h3 {
  font-weight: bolder;
}

.carousel-item {
  border-radius: 50%;
  background-color: #222;
  overflow: hidden;
  box-shadow: 0 0 1rem 1rem #111 inset;
}

.start_btn {
  z-index: 10;
  width: 8rem;
  font-weight: bolder;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress {
  width: 15rem;
}

.card {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  background-color: #333;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0 0 0.3rem 0.3rem #222;
  border-radius: 0.5rem;
}
.card:active {
  transform: scale(1.05);
}
.card-img-top {
  object-fit: cover;
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.card-body {
  background-color: #222;
  text-align: center;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bolder;
}
.card-text {
  font-size: 0.8rem;
}
